@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 10s linear infinite;
}

.rfm-marquee,
.rfm-initial-child-container {
  gap: 50px;
}

.text-shadow{
  text-shadow: 2px 2px 4px #6b6969;

}
